<div class="search">
    <form class="form-inline">
        <a class="btn btn-flat btn-primary m_10_l_0" href="{:url('admin/Project/projectList')}">显示全部</a>
        <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript:history.back(-1)"><i
                    class="fa fa-undo m-r-10"></i>返 回</a>
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <form id="commentForm">
            <?php if (!empty($data)) { ?>
                <input type="hidden" class="form-control" value="{$data['id']}" name="id">
            <?php } ?>
            <input type="hidden" name="return_type" value="1">
            <div class="box box-body">
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">项目分组ID</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <select name="project_group_id">
                                {foreach($groups as $key=>$v})}
                                <option value="{$key}" {if(isset($data['project_group_id']) && $data['project_group_id']==$key)} selected {/if}>{$v}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">项目期数</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="number" name="class" class="form-control" placeholder="请输入项目期数"
                                   value="{$data['class']??'1'}" min="1">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">默认为 1</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">项目名称</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="name" class="form-control" placeholder="请输入项目名称"
                                   value="{$data['name']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">封面图</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div id="img_preview1">
                                <?php if (!empty($data)){ ?>
                                    <img style="max-width: 580px;" src ="{$data['cover_img']}"/>
                                <?php } ?>
                            </div>
                            <input type="file" class="form-control" name="cover_img" id="img_url1" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="selectFile(1)">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">申购金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="single_amount" class="form-control" placeholder="请输入申购金额"
                                   value="{$data['single_amount']??''}">
                        </div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">补缴金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="yuding_amount" class="form-control" placeholder="请输入补缴金额"
                                   value="{$data['yuding_amount']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">元</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">总收益金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="sum_amount" class="form-control" placeholder="请输入总收益金额"
                                   value="{$data['sum_amount']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">共富金</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="gongfu_amount" class="form-control" placeholder="请输入共富金"
                                   value="{$data['gongfu_amount']??''}">
                        </div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">共富金-立即发放</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="gongfu_right_now" class="form-control" placeholder="请输入共富金立即发放金额"
                                   value="{$data['gongfu_right_now']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">元</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">民生金</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="minsheng_amount" class="form-control" placeholder="请输入民生金"
                                   value="{$data['minsheng_amount']??''}">
                        </div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">民生金-立即发放</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="minsheng_right_now" class="form-control" placeholder="请输入民生金立即发放金额"
                                   value="{$data['minsheng_right_now']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">元</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">振兴钱包</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="zhenxing_wallet" class="form-control" placeholder="请输入振兴钱包奖励金额"
                                   value="{$data['zhenxing_wallet']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">元</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">振兴金-立即发放</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="zhenxing_right_now" class="form-control" placeholder="请输入振兴金立即发放金额"
                                   value="{$data['zhenxing_right_now']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">元</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">普惠金</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="puhui" class="form-control" placeholder="请输入普惠金奖励金额"
                                   value="{$data['puhui']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">元</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">普惠金-立即发放</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="puhui_right_now" class="form-control" placeholder="请输入普惠金立即发放金额"
                                   value="{$data['puhui_right_now']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">元</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">每人限购数量</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="number" name="purchase_limit_per_user" class="form-control" placeholder="请输入每人限购数量(0表示不限制)"
                                   value="{$data['purchase_limit_per_user']??''}" min="0">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">0=不限制</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">销售状态</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <select name="status" class="form-control">
                                <option value="1" <?php if(isset(
                                    $data['status']) && $data['status']==1) echo 'selected'; ?>>启用</option>
                                <option value="0" <?php if(!isset($data['status']) || $data['status']==0) echo 'selected'; ?>>禁用</option>
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">周一至周五名额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="total_quota" class="form-control" placeholder="请输入周一至周五名额"
                                   value="{$data['total_quota']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">周一至周五每天限购数量</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">周末名额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="remaining_quota" class="form-control" placeholder="请输入周末名额"
                                   value="{$data['remaining_quota']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">周末每天限购数量</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">总份额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="number" name="total_stock" class="form-control" placeholder="请输入总份额"
                                   value="{$data['total_stock']??''}" min="0">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">份</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">剩余份额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="number" name="remaining_stock" class="form-control" placeholder="请输入剩余份额"
                                   value="{$data['remaining_stock']??''}" min="0">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">份</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">销售开始时间</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div class="left-box" style="margin-right: 20px;">
                                <div class="max-box">
                                    <input id="open_date" type="text" name="open_date" placeholder="请选择销售开始时间" value="{$data['open_date']??''}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">预定结束时间</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div class="left-box" style="margin-right: 20px;">
                                <div class="max-box">
                                    <input id="yuding_time" type="text" name="yuding_time" placeholder="请选择预定结束时间" value="{$data['yuding_time']??''}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">销售结束时间</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div class="left-box" style="margin-right: 20px;">
                                <div class="max-box">
                                    <input id="end_date" type="text" name="end_date" placeholder="请选择销售结束时间" value="{$data['end_date']??''}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">排序号</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="sort" class="form-control" placeholder="请输入排序号，从小到大排序"
                                   value="{$data['sort']??''}">
                        </div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                            <button type="button" class="btn btn-flat btn-primary" onclick="sub()">提 交</button>
                            <button type="button" class="btn btn-flat btn-default"
                                    onclick="javascript:history.back(-1)">返 回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="__ADMIN__/bower_components/select2/dist/css/select2.min.css">
<script src="__ADMIN__/bower_components/select2/dist/js/select2.min.js"></script>
<link href="__ADMIN__/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
<link href="__ADMIN__/jQuery-Timepicker-Addon/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css"/>

<script src="__ADMIN__/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript"></script>
<script src="__ADMIN__/jQuery-Timepicker-Addon/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="__ADMIN__/jQuery-Timepicker-Addon/i18n/jquery-ui-timepicker-zh-CN.js" type="text/javascript"></script>
<script>
    $(function () {
        //日期
        var dayNamesMin = ["日", "一", "二", "三", "四", "五", "六"];
        var monthNamesShort = ["01月", "02月", "03月", "04月", "05月", "06月", "07月", "08月", "09月", "10月", "11月", "12月"];
        
        // 销售开始时间选择器
        $("#open_date").datetimepicker({
            controlType: "select",
            dayNamesMin: dayNamesMin,
            monthNamesShort: monthNamesShort,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+10",
            showSecond: true,
            dateFormat: "yy-mm-dd",
            timeFormat: "HH:mm:ss"
        });
        
        // 预定结束时间选择器
        $("#yuding_time").datetimepicker({
            controlType: "select",
            dayNamesMin: dayNamesMin,
            monthNamesShort: monthNamesShort,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+10",
            showSecond: true,
            dateFormat: "yy-mm-dd",
            timeFormat: "HH:mm:ss"
        });
        
        // 销售结束时间选择器
        $("#end_date").datetimepicker({
            controlType: "select",
            dayNamesMin: dayNamesMin,
            monthNamesShort: monthNamesShort,
            changeMonth: true,
            changeYear: true,
            yearRange: "c-30:c+10",
            showSecond: true,
            dateFormat: "yy-mm-dd",
            timeFormat: "HH:mm:ss"
        });

        var url = "{:url('admin/Project/projectList')}";
        $('a[href="' + url + '"]').parents('.menu-li').addClass('active');
        var headerText = $('a[href="' + url + '"]').children('span').text();
        var is_add = "<?php echo !empty($data) ? '0' : '1';?>";
        var headerTitle = is_add == "1" ? headerText + '-添加预定项目' : headerText + '-编辑预定项目';
        $('#content-header-title').text(headerTitle);
    });

    function selectFile(i)
    {
        $('#img_preview'+i).html('');
        var files = document.getElementById('img_url'+i).files;
        if(files.length == 0){
            return;
        }
        var file = files[0]; //把上传的图片显示出来
        var reader = new FileReader();
        reader.readAsBinaryString(file);
        reader.onload = function(){
            var result = document.getElementById('img_preview'+i);
            var src = "data:" + file.type + ";base64," + window.btoa(this.result);
            result.innerHTML = '<img style="max-width: 580px;" src ="'+src+'"/>';
        }
    }

    function sub()
    {
        var formData = new FormData($('#commentForm')[0]);
        var isEdit = <?php echo !empty($data) ? 'true' : 'false'; ?>;
        
        $.ajax({
            url: '<?php echo !empty($data) ? url("admin/Project/editYudingProject") : url("admin/Project/addYudingProject");?>',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code == '200'){
                    layer.msg('保存成功', {icon: 1, time: 2000}, function(){
                        window.location.href = document.referrer;
                    });
                }
                else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            },
            error: function (res) {
                layer.msg(res.msg, {icon: 5, time: 3000});
            }
        });
    }
</script>

