<div class="search">
    <form class="form-inline">
        <input type="text" value="{$req['user_id']??''}" name="user_id" placeholder="搜索用户ID" class="form-control">
        <input type="text" value="{$req['phone']??''}" name="phone" placeholder="搜索手机号" class="form-control">
        <select name="repayment_type" class="form-control">
            <option value="">搜索还款类型</option>
            <?php foreach ($repaymentTypeMap as $k => $v) { ?>
                <option <?php if (isset($req['repayment_type']) && $req['repayment_type'] == $k) {
                    echo 'selected = "selected"';
                } ?> value="{$k}">{$v}
                </option>
            <?php } ?>
        </select>
        <input type="date" value="{$req['start_date']??''}" name="start_date" placeholder="开始日期" class="form-control">
        <input type="date" value="{$req['end_date']??''}" name="end_date" placeholder="结束日期" class="form-control">
        <input class="btn btn-flat btn-primary m_10" type="submit" value="搜索">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;共 {$data->total()} 条记录</span>
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>用户信息</th>
                            <th>申请信息</th>
                            <th>还款金额</th>
                            <th>还款类型</th>
                            <th>还款方式</th>
                            <th>备注</th>
                            <th>还款时间</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($data as $k => $v) { ?>
                            <tr>
                                <td>{$v['id']}</td>
                                <td>
                                    用户ID：{$v['user_id']}<br>
                                    手机号：{$v['user']['phone']}<br>
                                    姓名：{$v['user']['realname']}
                                </td>
                                <td>
                                    申请ID：{$v['application_id']}<br>
                                    期数：第{$v['plan']['period']}期
                                </td>
                                <td>￥{$v['repayment_amount']}</td>
                                <td>
                                    <span class="label label-{if condition="$v['repayment_type'] eq 1"}success{elseif condition="$v['repayment_type'] eq 2"}info{else/}warning{/if}">{$v['repayment_type_text']}</span>
                                </td>
                                <td>{$v['repayment_method_text']}</td>
                                <td>{$v['remark']}</td>
                                <td>{$v['created_at']}</td>
                                <td>
                                    <a href="{:url('admin/LoanRepayment/showRecord', ['id' => $v['id']])}" class="btn btn-flat btn-info btn-xs">详情</a>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
                <div style="text-align:center;font-size: 14px;"><?php echo $data->render(); ?></div>
            </div>
        </div>
    </div>
</div>
