<div class="search">
    <form class="form-inline">
        <a class="btn btn-flat btn-primary m_10_l_0" href="{:url('admin/ProjectTongxingZhixing/zhixingList')}">显示全部</a>
        <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript:history.back(-1)"><i
                    class="fa fa-undo m-r-10"></i>返 回</a>
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <form id="commentForm">
            <?php if (!empty($data)) { ?>
                <input type="hidden" class="form-control" value="{$data['id']}" name="id">
            <?php } ?>
            <div class="box box-body">
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-2 control-label dd_input_l">名称</label>
                        <div class="col-xs-7 col-sm-8 col-md-6 col-lg-8">
                            <input type="text" name="title" class="form-control" placeholder="请输入名称"
                                   value="{$data['title']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-2 col-md-4 col-lg-2 dd_ts">*</div>
                    </div>
                </div>
                
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 summernote_div">
                            <label class="text-lable">简介</label>
                            <input type="hidden" name="detial" id="detial">
                            <div class="summernote">
                                <?php echo $data['detial']??'';?>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-2 control-label dd_input_l">封面图</label>
                        <div class="col-xs-7 col-sm-8 col-md-6 col-lg-8">
                            <div id="cover_images_container">
                                <?php 
                                $cover_images = [];
                                if (!empty($data['cover_img'])) {
                                    $cover_images = is_array($data['cover_img']) ? $data['cover_img'] : json_decode($data['cover_img'], true);
                                    if (!$cover_images) {
                                        $cover_images = [];
                                    }
                                }
                                if (!empty($cover_images)) {
                                    foreach ($cover_images as $img_url) {
                                ?>
                                <div class="cover-image-item" style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="cover-img-preview">
                                                <img style="max-width: 100%; max-height: 200px;" src="<?php echo $img_url; ?>"/>
                                            </div>
                                            <input type="hidden" name="existing_cover_img[]" value="<?php echo $img_url; ?>">
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-danger btn-xs" onclick="removeCoverImage(this)">删除</button>
                                        </div>
                                    </div>
                                </div>
                                <?php 
                                    }
                                }
                                ?>
                            </div>
                            <button type="button" class="btn btn-success btn-xs" onclick="addCoverImage()">添加封面图</button>
                        </div>
                    </div>
                </div>
                
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-2 control-label dd_input_l">帮助市</label>
                        <div class="col-xs-7 col-sm-8 col-md-6 col-lg-8">
                            <input type="text" name="city" class="form-control" placeholder="请输入帮助市名称"
                                   value="{$data['city']??''}">
                        </div>
                    </div>
                </div>
                
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-2 control-label dd_input_l">排序</label>
                        <div class="col-xs-7 col-sm-8 col-md-6 col-lg-8">
                            <input type="number" name="order" class="form-control" placeholder="请输入排序号，从小到大排序"
                                   value="{$data['order']??'0'}">
                        </div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-2 control-label dd_input_l">创建时间</label>
                        <div class="col-xs-7 col-sm-8 col-md-6 col-lg-8">
                            <?php
                                $creatAtValue = '';
                                if (!empty($data['creat_at'])) {
                                    $timestamp = strtotime($data['creat_at']);
                                    if ($timestamp !== false) {
                                        $creatAtValue = date('Y-m-d\TH:i', $timestamp);
                                    }
                                }
                            ?>
                            <input type="datetime-local" name="creat_at" class="form-control" value="<?php echo $creatAtValue; ?>">
                            <small class="text-muted">不填写则默认使用当前时间</small>
                        </div>
                    </div>
                </div>
                
                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                            <button type="button" class="btn btn-flat btn-primary" onclick="sub()">提 交</button>
                            <button type="button" class="btn btn-flat btn-default"
                                    onclick="javascript:history.back(-1)">返 回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<link href="__ADMIN__/plugins/summernote/summernote.min.css?a=123" rel="stylesheet"> 
<script src="__ADMIN__/plugins/summernote/summernote.min.js?a=123"></script>
<script src="__ADMIN__/plugins/summernote/lang/summernote-zh-CN.js"></script>

<script>
    $(function () {
        $('.summernote').summernote({
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']],
            ],
            lang: 'zh-CN',
            minHeight: '300px',
            callbacks: {
                onImageUpload: function (files) {
                    sendFile(files, 'summernote');
                }
            }
        });

        var url = "{:url('admin/ProjectTongxingZhixing/zhixingList')}";
        $('a[href="' + url + '"]').parents('.menu-li').addClass('active');
        var headerText = $('a[href="' + url + '"]').children('span').text();
        var is_add = "<?php echo !empty($data) ? '0' : '1';?>";
        var headerTitle = is_add == "1" ? headerText + '-添加' : headerText + '-编辑';
        $('#content-header-title').text(headerTitle);
    });

    function sendFile(files, key)
    {
        var formdata = new FormData();
        formdata.append("img_url", $('.' + key + '_div .note-image-input')[0].files[0]);
        $.ajax({
            data : formdata,
            type : "POST",
            url  : '{:url("admin/Home/uploadSummernoteImg")}',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function(res) {
                if (res.code == '200'){
                    $('.' + key).summernote('insertImage', res.data.img_url, res.data.filename);
                }
                else {
                    layer.msg(res.msg, {icon: 5, time: 2500, offset: '80px'});
                }
            },
            error:function(res){
                layer.msg(res, {icon: 5, time: 2500, offset: '80px'});
            }
        });
    }

    var coverImageCounter = $('#cover_images_container .cover-image-item').length;
    
    function addCoverImage() {
        coverImageCounter++;
        var container = document.getElementById('cover_images_container');
        var newItem = document.createElement('div');
        newItem.className = 'cover-image-item';
        newItem.style = 'border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; border-radius: 5px;';
        newItem.innerHTML = `
            <div class="row">
                <div class="col-md-10">
                    <div class="cover-img-preview" id="cover_img_preview_${coverImageCounter}"></div>
                    <input type="file" class="form-control" name="new_cover_img[]" id="cover_img_file_${coverImageCounter}" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="selectCoverFile(${coverImageCounter})">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-xs" onclick="removeCoverImage(this)">删除</button>
                </div>
            </div>
        `;
        container.appendChild(newItem);
    }

    function selectCoverFile(counter) {
        var fileInput = document.getElementById('cover_img_file_' + counter);
        var preview = document.getElementById('cover_img_preview_' + counter);
        if (!fileInput || !preview) {
            return;
        }
        preview.innerHTML = '';
        
        var files = fileInput.files;
        if(!files || files.length == 0){
            return;
        }
        
        var file = files[0];
        var reader = new FileReader();
        reader.readAsBinaryString(file);
        reader.onload = function(){
            var src = "data:" + file.type + ";base64," + window.btoa(this.result);
            preview.innerHTML = '<img style="max-width: 100%; max-height: 200px; margin-bottom: 10px;" src="' + src + '"/>';
        }
    }

    function removeCoverImage(button) {
        var item = button.closest('.cover-image-item');
        if (item) {
            item.remove();
        }
    }

    function sub()
    {
        var detial = $('.summernote').summernote('code');
        $('#detial').val(detial);
        var formData = new FormData($('#commentForm')[0]);
        
        $.ajax({
            url: '<?php echo !empty($data) ? url("admin/ProjectTongxingZhixing/editZhixing") : url("admin/ProjectTongxingZhixing/addZhixing");?>',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code == '200'){
                    layer.msg('保存成功', {icon: 1, time: 2000}, function(){
                        window.location.href = document.referrer;
                    });
                }
                else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            },
            error: function (res) {
                layer.msg(res.msg, {icon: 5, time: 3000});
            }
        });
    }
</script>

