<div class="search">
    <form class="form-inline">
        <input type="text" value="{$req['id']??''}" name="id" placeholder="搜索ID" class="form-control">
        <input type="text" value="{$req['title']??''}" name="title" placeholder="搜索名称" class="form-control">
        <input class="btn btn-flat btn-primary m_10" type="submit" value="搜索">
        <a {:auth_show_judge('ProjectTongxingZhixing/addZhixing')} class="btn btn-flat btn-success m_10 f_r"
        href="{:url('admin/ProjectTongxingZhixing/showZhixing')}"><i class="fa fa-plus m-r-10"></i>添 加</a>
        <a class="btn btn-flat btn-default m_10 f_r" href="{:url('admin/ProjectTongxing/projectList')}"><i class="fa fa-undo m-r-10"></i>返回列表</a>
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>封面图</th>
                            <th>名称</th>
                            <th>简介</th>
                            <th>帮助市</th>
                            <th>排序</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach ($data as $k => $v) { ?>
                            <tr>
                                <td>{$v['id']}</td>
                                <td>
                                    <?php
                                    $coverImages = [];
                                    if (!empty($v['cover_img'])) {
                                        $coverImages = is_array($v['cover_img']) ? $v['cover_img'] : json_decode($v['cover_img'], true);
                                        if (json_last_error() !== JSON_ERROR_NONE || !is_array($coverImages)) {
                                            $coverImages = [$v['cover_img']];
                                        }
                                    }
                                    $coverImages = array_values(array_filter($coverImages, function ($img) {
                                        return !empty($img);
                                    }));
                                    ?>
                                    <?php if (!empty($coverImages)) { ?>
                                        <div style="display: flex; flex-wrap: wrap; gap: 6px;">
                                            <?php foreach ($coverImages as $imgUrl) { ?>
                                                <div style="width: 60px; height: 60px; overflow: hidden; border: 1px solid #e5e5e5; border-radius: 3px; background: #f7f7f7;">
                                                    <img src="<?php echo $imgUrl; ?>" onclick="seePhoto('<?php echo $imgUrl; ?>')" style="width: 100%; height: 100%; object-fit: cover;">
                                                </div>
                                            <?php } ?>
                                        </div>
                                    <?php } else { ?>
                                        <span class="text-muted">无图片</span>
                                    <?php } ?>
                                </td>
                                <td>{$v['title']}</td>
                                <td>
                                    <?php if (!empty($v['detial'])) { ?>
                                        <span title="{$v['detial']}"><?php echo mb_substr($v['detial'], 0, 20) . (mb_strlen($v['detial']) > 20 ? '...' : ''); ?></span>
                                    <?php } else { ?>
                                        <span class="text-muted">无简介</span>
                                    <?php } ?>
                                </td>
                                <td>{$v['city']}</td>
                                <td>{$v['order']}</td>
                                <td>{$v['creat_at']}</td>
                                <td>{$v['updated_at']}</td>
                                <td>
                                    <a {:auth_show_judge('ProjectTongxingZhixing/editZhixing')} class="btn btn-flat btn-info btn-xs"
                                    href="{:url('admin/ProjectTongxingZhixing/showZhixing', ['id' => $v['id']])}"><i
                                            class="fa fa-edit"></i> 编辑</a>
                                    <a {:auth_show_judge('ProjectTongxingZhixing/delZhixing')} class="btn btn-flat btn-danger btn-xs"
                                    href="javascript:;" onclick="delZhixing({$v['id']})"><i class="fa fa-trash-o"></i>
                                    删除</a>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
                <div style="text-align:center;font-size: 14px;"><?php echo $data->render(); ?></div>
            </div>
        </div>
    </div>
</div>

<script>
    function delZhixing(id)
    {
        //确认框
        layer.confirm('确定删除吗？', {icon: 3, title: '提示'}, function (index) {
            layer.close(index);
            $.post('{:url("admin/ProjectTongxingZhixing/delZhixing")}', {id: id}, function (res) {
                if (res.code == '200') {
                    location.reload(true);
                } else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            });
        });
    }
</script>

